<ion-header>
  <ion-toolbar id="my-toolbar" color="primary" role="banner">
    <ion-buttons slot="start" aria-label="Home">
      <ion-icon id="iconHome" name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-title>O meu percurso</ion-title>
    <ion-buttons slot="end" aria-label="Profile">
      <ion-icon id="iconMan" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-back-button defaultHref="/Home/inbox" text="Voltar Atrás" icon="arrow-back"></ion-back-button>
  <div class="page-content">
    <div class="button-container">
      <div class="botaoArcos">
        <ion-button color="secondary" (click) = "goToPageTerra1()">Arcos de Valdevez</ion-button>
      </div>
      <div class="botaoLocais">
        <ion-button color="secondary" (click) = "goToPageTerra2()">Locais a não perder</ion-button>
      </div>
      <div class="botaoComer">
        <ion-button color="secondary" (click) = "goToPageTerra3()">O que comer</ion-button>
      </div>
      <div class="botaoOndeFicar">
        <ion-button color="secondary" (click) = "goToPageTerra4()">Onde ficar</ion-button>
      </div>
    </div>
  </div>
 
  <div class="imgContainer">
    <img src="assets/imagens/2.jpg" alt="My Image">
  </div>
</ion-content>
