<ion-header>
  <ion-toolbar id="my-toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-icon id="iconHome" name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-title>O meu percurso</ion-title>
    <ion-buttons slot="end">
      <ion-icon id="iconMan" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="textoEducacao">
    <h4>Educação</h4>
    <p>Como já sabem, eu cresci em Arcos de Valdevez e, portanto, foi lá que fiz o meu percurso escolar até aos 18 anos.</p>
    <p>Porém, descobri que fazia mais sentido para mim ingressar num curso profissional. Nesse momento, a escolha da área, para mim, foi óbvia e, por isso, concluí o curso de Eletrónica e Automação de Computadores.</p>
    <p>Após terminar o ensino secundário estava determinado a seguir os estudos e entrei no CTeSP de Redes e Sistemas Informáticos, no IPVC.</p>
    <p>Mais tarde, percebi que não deveria ficar por ali e então integrei a Licenciatura em Engenharia Informática, no IPVC. Por esta altura, estou a frequentar o 2º ano e acredito que não poderia ter feito uma melhor escolha em termo de área de estudos!</p>
  </div>
  <div class="image">
    <img src="assets/imagens/3.png" alt="My Image#2">
  </div>
  <div class="button-container">
    <div class="botaoVoltarHome">
      <ion-button color="secondary" (click) = "pageHome()">Página Inicial</ion-button>
    </div>
    <div class="botaoDesporto">
      <ion-button color="secondary" (click) = "goToPageDesporto()">Desporto</ion-button>
    </div>
  </div>
</ion-content>
