ion-menu-button {
  color: var(--ion-color-primary);
}

ion-title{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
}

#burguer {
  height: 60px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-header {
  height: 60px;
  position: fixed;
  z-index: 999;
  background-color: #6F6E6E;
}

h4{
  color:black;
}

.page-content{
  margin-top: 100px;
  padding: 0 10px;
}

img {
  height: 45vh !important;
  width: 50vh !important;
  align-items: center;
  margin-left: -5px;
  margin-right:-5px;
  border-radius: 3%;
  }

  .botaoEducacao,
  .botaoDesporto {
    margin-top:30px;
    display: inline-block;
    color: white;
    }

    .botaoEducacao{
      margin-right: 10px;
    }
    .botaoDesporto{
      margin-left: 160px;
    }
