<ion-header>
  <ion-toolbar id="my-toolbar" color="primary" role="banner">
    <ion-buttons slot="start" aria-label="Home">
    </ion-buttons>
    <ion-title>O Meu Percurso</ion-title>
    <ion-buttons slot="end" aria-label="Profile">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-back-button defaultHref="/Home/inbox" text="Voltar Atrás" icon="arrow-back"></ion-back-button>
  <div class="page-content">
    <div class="button-container">
      <div class="botaoEducacao">
        <ion-button color="secondary" (click) = "goToPageEducacao()">Educação</ion-button>
      </div>
      <div class="botaoDesporto">
        <ion-button color="secondary" (click) = "goToPageDesporto()">Desporto</ion-button>
      </div>
      <div class="botaoVoluntariado">
        <ion-button color="secondary" (click) = "goToPageVoluntariado()">Voluntariado</ion-button>
      </div>
    </div>
  </div>
 
  <div class="imgContainer">
    <img src="assets/imagens/1.jpg" alt="My Image">
  </div>
</ion-content>


