<ion-header>
  <ion-toolbar id="my-toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-icon id="iconHome" name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-title>A minha terra</ion-title>
    <ion-buttons slot="end">
      <ion-icon id="iconMan" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" fullscreen>
  <div class="container">
    <div class="textoEducacao">
      <h4>Locais a não perder</h4>
      <p>Arcos de Valdevez tem diversos locais a explorar.</p>
      <p>Começamos pela vila, com várias construções romanas e igrejas barrocas.
        No centro é possível visitar os Pelourinhos, a Igreja da Lapa, o Jardim dos Centenários, a Ponte Velha, entre outros...</p>
    </div>
    <div class="imgArcos">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Igreja da Lapa</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <img src="assets/imagens/7.jpg" alt="My image">
          <p>Relógio de Água e Igreja da Lapa</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="imgArcos">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Jardim dos Centenários</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <img src="assets/imagens/8.jpeg" alt="My image">
          <p>Jardim dos Centenários</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="textMontanhas">
      <p>Nas montanhas existem 3 lugares que não pode perder!</p>
    </div>
    <div class="textoSistelo">
      <h4>Sistelo</h4>
      <p>Conhecido como o Tibete Português, devido aos seus socalcos é uma freguesia repleta de paisagens mágicas. Está até conectada à vila através de um passadiço de 40km junto ao rio Vez.</p>
      <img src="assets/imagens/9.jpg" alt="My image">
    </div>
    <div class="textoErmelo">
      <h4>Ermelo</h4>
      <p>Neste recanto podemos visitar o Mosteiro de Ermelo, um monumento nacional, que atrai centenas de peregrinos no dia 10 de julho. Não se esqueça de provar as famosas laranjas de Ermelo!</p>
      <img src="assets/imagens/10.jpg" alt="My image">
    </div>
    <div class="textoSoajo">
      <h4>Soajo</h4>
      <p>Soajo é uma das principais atrações do concelho já que nesta freguesia encontramos uma das entradas para o único parque natural em Portugal, o PN-Peneda-Gerês. 
        Além dos famosos espigueiros de Soajo, também podemos visitar o Santuário da Senhora da Peneda e até mergulhar nas diversas cascatas formadas pelo rio Adrião.</p>
      <img src="assets/imagens/11.jpg" alt="My image">
    </div>
    <div class="textoSoajo">
      <p>Além disso, não podemos deixar despercebida a casa de Tomás de Figueiredo, um escritor nascido em 1902, que cresceu em Arcos de Valdevez.
        Em 1948, foi reconhecido com o prémio Eça de Queirós.</p>
      <img src="assets/imagens/12.jpg" alt="My image">
      <p>
        - terra minha pela memória e pelo amor
        Tomás de Figueiredo</p>
    </div>
    <div class="button-container">
      <div class="botaoVoltarHome">
        <ion-button color="secondary" (click) = "goToPageHome()">Página Inicial</ion-button>
      </div>
      <div class="botaoComer">
        <ion-button color="secondary" (click) = "goToPageComer()">O que Comer</ion-button>
      </div>
    </div>
  </div>
</ion-content>