<ion-header>
  <ion-toolbar id="my-toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-icon id="iconHome" name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-title>A minha terra</ion-title>
    <ion-buttons slot="end">
      <ion-icon id="iconMan" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="textoComer">
    <h4>Onde ficar</h4>
    <p>Com o crescente número de visitantes, é notório um crescimento de locais onde ficar em Arcos de Valdevez.</p>
    <p>
      Hoje em dia existe uma grande variedade opções para pernoitar, desde hóteis, a residênciais, parques de campismo e alojamento local.
    </p>
    <p>Para satisfazer os gostos de todos, sugiro-vos um estabelecimento de cada tipo</p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hotel Ribeira</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/imagens/17.jpg" alt="myImage">
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Residencial Dona Isabel</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/imagens/18.jpg" alt="myImage">
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Parque de campismo de Travanca</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/imagens/19.jpg" alt="myImage">
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quinta da Lamosa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/imagens/20.jpg" alt="myImage">
    </ion-card-content>
  </ion-card>

  <div class="botaoHome">
    <ion-button color="secondary" (click) = "goToPageHome()">Página Inicial</ion-button>
  </div>
</ion-content>