<ion-header>
  <ion-toolbar id="my-toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-icon id="iconHome" name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-title>A minha terra</ion-title>
    <ion-buttons slot="end">
      <ion-icon id="iconMan" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="textoComer">
    <h4>O que comer</h4>
    <p>Arcos de Valdevez oferece uma variada de pratos tradicionais aos seus turistas.</p>
    <p>Porém, existe uma seleção de pratos e sobremesas únicos da região.
    </p>
    <p>Assim sendo, recomendo que experimentem o famoso arroz com feijão tarrestre, acompanhado com carne de vaca cachena assada.</p>
    <p>A espécie cachena é criada nas serras de Soajo e, por isso, tem um sabor caraterístico que não devem perder!
    </p>
    <img src="assets/imagens/14.jpg" alt="">
  </div>
  <div class="textoSobremesas">
    <p>
      Para sobremesa existem, essencialmente, 3 sugestões típicas:
    </p>
    <h4>Bolo de discos</h4>
    <img src="assets/imagens/13.jpg" alt="">
    <h4>
      Charutos dos Arcos
    </h4>
    <img src="assets/imagens/15.jpg" alt="">
    <h4>
      Rebuçados dos Arcos
    </h4>
    <img src="assets/imagens/16.jpg" alt="">
    <div class="button-container">
      <div class="botaoVoltarHome">
        <ion-button color="secondary" (click) = "goToPageHome()">Página Inicial</ion-button>
      </div>
      <div class="botaoAlojamento">
        <ion-button color="secondary" (click) = "goToPageAlojamento()">Alojamento</ion-button>
      </div>
    </div>
  </div>
</ion-content>
