<ion-header>
  <ion-toolbar id="my-toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-icon id="iconHome" name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-title>A minha terra</ion-title>
    <ion-buttons slot="end">
      <ion-icon id="iconMan" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="textoEducacao">
    <h4>ARCOS DE VALDEVEZ</h4>
    <p>Localizada no Alto Minho, Arcos de Valdevez é uma terra raiana cheia de encantos</p>
    <p>É o 2º maior concelho de Portugal, em termos de extensão (447 km2) e nos últimos censos contavam-se cerca de 21 mil habitantes.</p>
    <p>A vila é conhecida pelo aclamado slogan Arcos de Valdevez onde Portugal se fez. Os Vimaranenses poderão não gostar, mas foi em terras arcuenses que se travou o Torneio de Arcos de Valdevez, precedente ao Tratado de Zamora.</p>
    <p>Nos dias que correm, o turismo é grande aposta em termos de investimentos. O aproveitamento das paisagens montanhosas e as cascatas ao longo do rio Vez têm atraído diversos curiosos a descobrir as maravilhas do concelho.</p>
  </div>
  <div class="image">
    <img src="assets/imagens/6.jpg" alt="My Image#2">
  </div>
</ion-content>
