<ion-header>
  <ion-toolbar id="my-toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-icon id="iconHome" name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-title>O meu percurso</ion-title>
    <ion-buttons slot="end">
      <ion-icon id="iconMan" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="textoEducacao">
    <h4>VOLUNTARIADO</h4>
    <p>O meu espirito aventureiro e aliado ao gosto por viajar levou-me a participar em dois projetos de voluntariado.</p>
    <p>Em 2018, realizei o meu primeiro intercâmbio de jovens. Este projeto teve lugar em Holten, nos Países Baixos. Ao longo de 10 dias debateram-se temas estruturais, como as migrações e os direitos humanos.</p>
    <p>Em conjunto com os meus colegas vindos de vários pontos da Europa construímos um jogo de tabuleiro alusivo aos refugiados.</p>
    <p>Posteriormente, em 2020, em plena pandemia, decidi passar o meu verão em Sighisoara, Roménia. Nos dois meses que lá passei, realizei diversas atividades de forma a consciencializar a população local para a problemática do bullying.</p>
    <p>E como nem tudo é “trabalho”, nos fins de semanas aproveitei para viajar por todo aquele país!</p>
  </div>
  <div class="image">
    <img src="assets/imagens/5.jpg" alt="My Image#2">
  </div>
</ion-content>
