<ion-header>
  <ion-toolbar id="my-toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-icon id="iconHome" name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-title>O meu percurso</ion-title>
    <ion-buttons slot="end">
      <ion-icon id="iconMan" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="textoEducacao">
    <h4>Desporto</h4>
    <p>A minha história com o desporto é curta.</p>
    <p>Quando era mais novo a minha família convenceu-me a praticar natação e, ainda, capoeira.</p>
    <p>Já com 13 anos juntei-me ao Clube de Rugby de Arcos de Valdevez, onde criei imensas amizades. Além disso, o Rugby transmitiu-me diversos que valores que levo para a vida como: o companheirismo, o espírito de equipa e o respeito pelo o outro.</p>
    <p>Por incompatibilidades horárias, quando entrei no IPVC, tive de sair do clube. Desde então, o desporto que pratico é mais virado para as caminhadas e corrida em montanha, já que adoro o ar livre!</p>
  </div>
  <div class="image">
    <img src="assets/imagens/4.png" alt="My Image#2">
  </div>
  <div class="button-container">
    <div class="botaoVoltarHome">
      <ion-button color="secondary" (click) = "goToPageHome()">Página Inicial</ion-button>
    </div>
    <div class="botaoVoluntariado">
      <ion-button color="secondary" (click) = "goToPageVoluntariado()">Voluntariado</ion-button>
    </div>
  </div>
</ion-content>